/*Navbar */
.NavItems{
display: flex;
flex-direction: row;
justify-content: space-evenly;
align-items: baseline;
}
#NavLinkItem{
text-decoration: none;
font-family: 'Lato', sans-serif;
font-weight: 400;
color:#969696;
}
#NavLinkItem:hover{
cursor: pointer;
color:#80b435;
}
#HelloItem{
font-family: 'Lato', sans-serif;
font-weight: 400;
color:#969696; 
}
#NameItem{
  font-family: 'pacifico', cursive;
  font-weight: 500;
  color:#80b435;  
}
.BadgeColor{
  color: #80b435;
}
/* Login & Register */
.MyContainer{
background-color: #F5F5F5;
height: 800px;
width: auto;
display: flex;
align-items: center;
justify-content: center;
}
.MyCard{
background-color: #FFFFFF;
border: 1px solid #FFFFFF;
width: 500px;
height: 710px;
padding: 50px;
border-radius: 10px;
text-align: center;
}
.LogoTitle{
font-family: 'pacifico', cursive;
color: #80b435;
font-size: 40px;
}
h2 {
font-family: 'Lato', sans-serif;
font-weight: 300;
color: #2b2b2b;
margin: 0px;
padding: 15px;
margin-top: 10px;
}
.Sentp{
font-family: 'Lato', sans-serif;
font-weight: 400;
color: #969696;
margin: 0px;
padding: 15px;
}
#LinkItem{
text-decoration: none;
font-family: 'Lato', sans-serif;
font-weight: 700;
color:#969696;
}
#LinkItem:hover{
cursor: pointer;
color:#80b435;
}
.InBtn{
font-family: 'Lato', sans-serif;
font-weight: 700;
color: white;
background-color: #80b435;
border-radius: 6px;
padding: 14px 30px;
margin: 4px 2px;
width: 223px;
text-align: center;
text-decoration: none;
transition-duration: 0.5s;
cursor: pointer;
}
.InBtn:Hover{
color: #80b435;
background-color: white;
border: 1px solid #80b435;
} 
.LogBtnInsta{
font-family: 'Lato', sans-serif;
font-weight: 700;
color: white;
background-color: #F24B62;
border-radius: 12px;
padding: 14px 30px;
margin: 4px 2px;
width: 150px;
text-align: center;
text-decoration: none;
transition-duration: 0.5s;
cursor: pointer;
}
.LogBtnInsta:Hover{
color: #F24B62;
background-color: white;
border: 1px solid #F24B62;
} 
.LogBtnFB{
font-family: 'Lato', sans-serif;
font-weight: 700;
color: white;
background-color: #3B5998;
border-radius: 12px;
padding: 14px 30px;
margin: 4px 6px;
width: 150px;
text-align: center;
text-decoration: none;
transition-duration: 0.5s;
cursor: pointer;
}
.LogBtnFB:Hover{
color: #3B5998;
background-color: white;
border: 1px solid #3B5998;
} 
/* Footer */
.FooterContainer{
background-color: white;
height: 200px;
width: auto;
display: flex;
align-items: center;
justify-content: center;
}
.InContainer{
padding: 20px;
text-align: center; 
}
.CopyRi{
font-family: 'Lato', sans-serif;
color: #969696;
text-align: center;
}
.InCol{
align-items: left;
}
.FootDesc{
font-family: 'Lato', sans-serif;
color: #969696;
margin-top: 15px;
}
.LinkFB{
color: #969696;
text-decoration: none;
}
.LinkFB:hover{
color: #3B5998;
text-decoration: none;
}
.LinkInsta{
color: #969696;
text-decoration: none;
}
.LinkInsta:hover{
color: #F24B62;
text-decoration: none;
}
.LinkTwi{
color: #969696;
text-decoration: none;
}
.LinkTwi:hover{
color: #00acee;
text-decoration: none;
}
.LinkYou{
color: #969696;
text-decoration: none;
}
.LinkYou:hover{
color: #ff0000;
text-decoration: none;
}
.FootTitle{
font-family: 'pacifico', cursive;
color: #80b435;
margin-top: 15px;
font-size: large;
}
.FootLinks{
display: flex;
flex-direction: column;
}
#FootLink{
text-decoration: none;
font-family: 'Lato', sans-serif;
color:#969696;   
}
#FootLink:hover{
font-family: 'Lato', sans-serif;
font-weight: 700;
color:#80b435;
}
.FootInfoLinks{
display: flex;
align-items: baseline;
list-style: none;
} 
.LinkContact{
color: #969696;
display: flex;
align-items: center;
justify-content: center;
}
.LinkContact:hover{
color: #80b435;
}
.TextContact{
font-family: 'Lato', sans-serif;
color:#969696;  
}
hr {
width:50%;
}
/* Blog */
.BlogImg{
  max-width: 100%;
  height: auto;
}
.MyBlogContainer{
background-color: #F5F5F5;
height: 800px;
width: auto;
display: flex;
align-items: center;
justify-content: center;
}
.BlogContent{
font-family: 'Lato', sans-serif;
color:#2b2b2b;  
}
/* Seller Account */
.MySellerAccountContainer{
background-color: #F5F5F5;
height: 800px;
width: auto;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.ContainerBackOne{
background-color: #bfbfbf;
border: 1px solid #bfbfbf;
color: #f5f5f5;
font-family: 'Lato', sans-serif;
width: 100%;
height: 150px;
padding: 50px;
margin: 0;
border-radius: 10px;
}
.ContainerBackTwo{
background-color: #2b2b2b;
border: 1px solid #2b2b2b;
color: #f5f5f5;
font-family: 'Lato', sans-serif;
width: 700px;
height: 150px;
padding: 50px;
border-radius: 10px;
}
/* Product Upload */
.MyProductCard{
background-color: #FFFFFF;
border: 1px solid #FFFFFF;
width: 500px;
height: 710px;
padding: 50px;
border-radius: 10px;
text-align: center;
}
/* Product Card */
.ProductCard{
width: 16rem;
border-radius: 6px;
background-color: white;
margin: 5px;
height: auto; 
display: flex;
flex-direction: column;
align-items: center;
transition: 0.3s;
position: relative;
}
.ProductImg{
width: 200px;
height: 200px;
overflow: hidden;
/*Scale down will take the necessary specified space that is 200px x 200px without stretching the image*/
object-fit:scale-down;
margin-top: 3px;
} 
.ProductName{
font-family: 'Lato', sans-serif;
font-weight: 400;
font-size: 30px;
color: #2b2b2b;
}
.ProductPrice{
font-family: 'Lato', sans-serif;
font-weight: 400;
font-size: 16px;
color: #80b435; 
}
.ProductUnit{
font-family: 'Lato', sans-serif;
font-weight: 400;
font-size: 16px;
color: #80b435; 
}
.ProductPandU{
display: flex;
flex-direction: row;
/* justify-content: space-evenly; */
}
.ProductHover{
transition: .5s ease;
opacity: 0;
position: absolute;
top: 40%;
left: 50%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
}
#CartLinkItem{
text-decoration: none;
font-family: 'Lato', sans-serif;
font-weight: 400;
color:#80b435;
}
.CircleIcon{
background: white;
width: 50px;
height: 50px;
border-radius: 50%;
text-align: center;
line-height: 20px;
vertical-align: middle;
padding: 15px;
}
.ProductCard:hover .ProductImg {
opacity: 0.3;
}
.ProductCard:hover .ProductHover {
opacity: 1;
}
/*Search Product */
.SearchBar{
display: flex;
align-items: baseline;
margin: 5px 0px 35px 0px;
}
.ProductSearch{
width: 700px;
border: 1px solid #F5F5F5;
padding: 5px;
height: 50px;
margin-right: 5px;
border-radius: 10px;
color: #2b2b2b;
}
.SearchIcon{
color: #80b435;
}
/*Product List */
.ProductList{
display: flex;
flex-wrap: wrap;
}
/* Store */
.StoreImg{
max-width: 100%;
height: auto;
}
.MyStoreContainer{
background-color: #F5F5F5;
height: 800px;
width: auto;
display: flex;
flex-direction: column;
align-items: center;
}
/* Cart */
.CartImg{
max-width: 100%;
height: auto;
}