
/* Navbar */
.Navbar{
  display: flex;
  justify-content: space-around;
  width: auto;
  margin-bottom: 5px;
}
.NameWeb{
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: larger;
  font-weight: 700;
  color: #87C440;
}
.NavItems{
display: flex;
}
.Item{
  margin : 5px 5px 0px 5px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: larger;
}
#LinkItem{
  text-decoration: none;
  color:black;
  
}
#LinkItem:hover{
cursor: pointer;
color:#87C440;
}
.colorName{
  color:#87C440;
  font-style: oblique;
}
/* Register Inputs */
.RegisterInputs{
  text-align:center;
}
.Inputs{
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-left: 400px;
}
input , select {
  padding: 5px 5px;
  margin: 10px 0;
  outline: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
}
select{
  color: gray;
}
.RoleType{
  font-size:small;
  font-family: Arial, Helvetica, sans-serif;
}
.BtnSign{
  margin: 10px 0px;
}
/*Login Inputs */
.LoginInputs{
  text-align:center;
  margin-top: 125px;
}
/* Icons Color */
.colorIcon{
  color:#87C440;
}
